nav.navbar.navbar-default.navbar-fixed-top.header
    div.container
        div.navbar-header
        button(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false").navbar-toggle.collapsed
            span.sr-only
                | Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar  
        div.navbar-header
            div.navbar-brand SDN Event Schedule                       
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li 
                    a(href='/') schedule 
                        span.sr-only (current)
                li
                    a(href="/speakers") speakers