extends layout

block content
  div.container
    div.content
      div.page-header
        h1 SDN Event
          small &nbsp;Speakers 
     
      form#speakerForm.form-horizontal(action="/api/speaker")
        div.form-group
          label(for="inputName").col-sm-2.control-label Speaker
          div.col-sm-10
            input(type="text" placeholder="name").form-control#inputName    
        div.form-group
          div.col-sm-offset-2.col-sm-10         
            button(type="submit")#submitButton.btn.btn-primary Search
      #result

  script(src="/javascripts/bundle.js")      
  include templates

      
        