script#speakerTemplate(type="text/template")
  div.panel.panel-primary
    div.panel-heading
      div.row
        div.col-md-8 {{title}}
          div 
            em {{speaker}} 
        div.col-md-4
          span {{starttime}}
          | &nbsp;&#8209;&nbsp;
          span {{endtime}}